package-lock=false
puppeteer_download_host=https://npmmirror.com/mirrors
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
electron_mirror=https://npmmirror.com/mirrors/electron

@babel:registry=https://registry.npmmirror.com
@vue:registry=https://registry.npmmirror.com
